* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
section {
  height: 100vh;
  overflow: hidden;
}

.container {
  margin: 0 12.2% 0 12.2%;
  text-align: center;
  height: 100%;
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.col {
  display: flex;
  // justify-content:center
}
.topic {
  font-size: $extra-large-size;
  font-weight: 300;
  font-style: italic;
  color: #333;
  text-decoration: underline 3px solid #333;
  text-underline-offset: $small-size;
}
