li {
  text-decoration: none;
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: lighten($pink-color, 20);
}

.nav-link {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding: $small-size;
  font-size: $medium-size;
  color: $cream-color;
  background-color: $pink-color;
}
.nav-item:hover{
  text-decoration: underline;
}

.nav-button{
  color:$cream-color;
  text-decoration: none;
}

.nav-brand {
  padding: $small-size;
  font-size: $medium-size;
  color: $cream-color;
  background-color: $pink-color;
}
i {
  margin: $small-size;
}
