li {
  text-decoration: none;
  list-style: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.content {
  padding: 16px;
}
.sticky + .content {
  padding-top: 60px;
}
.navbar {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  background-color: #333;
  border-bottom: 4px solid $pink-color;
}

.nav-link {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding: $small-size;
  font-size: $medium-size;
  background-color: #333;
}

.nav-button {
  text-decoration: none;
  color: $cream-color;
}
.nav-button:hover {
  text-decoration: underline;
  color: $pink-color;
}

.nav-brand {
  padding: $small-size;
  font-size: $medium-size;
  color: $cream-color;
  background-color: #333;
}
i {
  margin: $small-size;
}
